input id="link" name="link" type="text" value="#{message_url(@message)}?key=#{@message.key}" readonly=true

coffee:
  elem = document.getElementById "link"
  elem.select()
  elem.addEventListener("mouseup", ->
    this.select()
  )
