input id="link" name="link" type="text" value=message_url(@message.slug) readonly=true

coffee:
  elem = document.getElementById "link"
  elem.select()
  elem.addEventListener("mouseup", ->
    this.select()
  )
